#main {
  margin: 10px;
  padding: 0;
  border: 0;
}
#frame{
  width: 500px;
  height: 300px;
  padding: 0.5em;
  font-size: 24px;
  border: 5px double #000000;
  word-break : break-all;
}
#restart{
  margin: 10px 20px;
  border-bottom: solid 3px #888;
  border-radius: 20px;
  width: 100px;
  height: 50px;
}